<section class="main-header">
  <img src= "<%= asset_path "HachiRoom-logo.png" %>">
</section>

<section class="about">
  <h1>About Achieve</h1>
  <p>test</p>
  <p>test</p>
</section>

<section class="function container-fluid">
  <div class="row">
  <h1>Function</h1>
  <div class="col-md-3 col-sm-6">
    <div class="function-images">

          <div class="function-image">
            <img src="<%= asset_path "slide4.jpg" %>">

            <p>ログイン機能</p>
          </div>

          <div class="function-image">
            <img src="<%= asset_path "slide4.jpg" %>">
            <p>メール送信機能</p>
          </div>

          <div class="function-image">
            <img src="<%= asset_path "slide4.jpg" %>">
            <p>友達つながり機能</p>
          </div>

          <div class="function-image">
            <img src="<%= asset_path "slide4.jpg" %>">
            <p>コメント投稿機能</p>
          </div>



    </div>
  </div>
  </div>
</section>



<footer>
  <p>運営会社DIVE INTO CODE株式会社</p>
  <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
</footer>
