<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src= "<%= asset_path "HachiRoom-logo.png" %>">
</section>

<!--
<div id="container">
  <ul>
    <div class="elements_process">
      <li><div class="frame_process">
        <%= link_to recipes_path do %>
        <img src="<%= asset_path "寝室.jpg" %>">
        <% end %>
      </div></li>
      <li><div class="frame_process_text">
        寝室
      </div></li>
   </div>
</ui>
 </div>
 -->
