<div class="show_p">
  <%= notice %>
</div>


<div class="wrapper clearfix">
  <div class="left_menu">
    <!--タイトル-->
    <div class="text-01">
        <%= @recipe.title %>
    </div>
    <!--レシピ画像-->
    <p class="recipe_image">
        <img src="<%= @recipe.recipe_image %>" onError=this.src="<%= asset_path "no_image.png" %>">

    </p>
  </div>


  <div class="right_menu">
        <!--プロファイル画像-->
        <div class="img-pro">
        <%= profile_img(@recipe.user) %><!--ユーザ画像-->
        <% if current_user.id == @recipe.user_id %>
　        <%= link_to "編集", edit_recipe_path(@recipe), class: 'square_btn btn-default btn-sm' %>
          <%= link_to "削除", recipe_path(@recipe.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'square_btn btn-default btn-sm' %>
        <% end %>
　        <%= link_to "一覧", recipes_path, class: 'square_btn btn-default btn-sm' %>
  　    </div>
        <!--ジャンル-->
        <div class="text-genre">
         ジャンル：<%= @recipe.genre %>
        </div>
        <!--コメント-->
        <div class="text-comment">
          <%= @recipe.comment %>
        </div>
        <!--材料-->
        <div class="text-material">
          <p><%= @recipe.material_01 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_02 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_03 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_04 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_05 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_06 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_07 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_08 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_09 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_10 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_11 %><br>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_12 %><br>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_13 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_14 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_15 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_16 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_17 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_18 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_19 %></p>
          <hr width=80% color="#7d7d7d" style="border-style:dotted">
          <p><%= @recipe.material_20 %></p>
        </div>
  </div>

</div>



<div id="container">
  <ul>
    <!--手順01-->
    <div class="elements_process">
      <li><div class="process_number">
        手順.01
      </div></li>
      <li><div class="frame_process">
          <img src="<%= asset_path @recipe.process_image_01 %>" onError=this.src="<%= asset_path "no_image.png" %>">
      </div></li>
      <li><div class="frame_process_text">
        <%= @recipe.process_01 %>
      </div></li>
   </div>

   <!--手順02-->
   <div class="elements_process">
     <li><div class="process_number">
       手順.02
     </div></li>
     <li><div class="frame_process">
         <img src="<%= asset_path @recipe.process_image_02 %>" onError=this.src="<%= asset_path "no_image.png" %>">
     </div></li>
     <li><div class="frame_process_text">
       <%= @recipe.process_02 %>
     </div></li>
  </div>

  <!--手順03-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.03
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_03 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_03 %>
    </div></li>
 </div>

 <!--手順04-->
 <div class="elements_process">
   <li><div class="process_number">
     手順.04
   </div></li>
   <li><div class="frame_process">
       <img src="<%= asset_path @recipe.process_image_04 %>" onError=this.src="<%= asset_path "no_image.png" %>">
   </div></li>
   <li><div class="frame_process_text">
     <%= @recipe.process_04 %>
   </div></li>
  </div>

  <!--手順05-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.05
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_05 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_05 %>
    </div></li>
  </div>

  <!--手順06-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.06
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_06 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_06 %>
    </div></li>
  </div>

  <!--手順07-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.07
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_07 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_07 %>
    </div></li>
  </div>

  <!--手順08-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.08
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_08 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_08 %>
    </div></li>
  </div>

  <!--手順09-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.09
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_09 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_09 %>
    </div></li>
  </div>

  <!--手順010-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.10
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_10 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_10 %>
    </div></li>
  </div>

  <!--手順11-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.11
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_11 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_11 %>
    </div></li>
  </div>

  <!--手順12-->
  <div class="elements_process">
    <li><div class="process_number">
      手順.12
    </div></li>
    <li><div class="frame_process">
        <img src="<%= asset_path @recipe.process_image_12 %>" onError=this.src="<%= asset_path "no_image.png" %>">
    </div></li>
    <li><div class="frame_process_text">
      <%= @recipe.process_12 %>
    </div></li>
  </div>
  </ul>
</div>

   <div class="knac">
     <div class="left_menu_knac">
      <img src="<%= asset_path "point.png" %>">
    </div>
    <div class="right_menu_knac">
      <p><%= @recipe.knack %></p>
    </div>
  </div>

<div class="child row">
  <div class="wrapper_comment col-md-12">
    <h1><p>コメント一覧</p></h1>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, recipe: @recipe } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, recipe: @recipe } %>

  </div>
</div>
